.imagen {
  width: 550.42px;
  height: 750px;
  bottom: 0;
  position: absolute;

}
.imagen_dos{
  width: 220px;
  height: 700px;
}

svg{
  position: absolute;

  z-index: -2;
  bottom: 0;
  overflow: hidden;
  background-color: transparent;
}

