<div class="grid grid-cols-4 gap-10 px-20">
  <div *ngFor="let animal of animals" class="flex flex-col items-center justify-center bg-white shadow-lg rounded-lg p-4">
    <!-- Imagen del animal -->
    <div class="mb-4">
      <img 
        class="w-full h-64 rounded-lg object-cover" 
        [src]="animal.url" 
        alt="Imagen de {{ animal.id }}" />
    </div>
    <!-- Descripción del animal -->
    <div class="text-center mb-4">
      <p class="text-sm text-gray-600">ID: {{ animal.id }}</p>
    </div>
    <!-- Botón personalizado -->
    <app-button></app-button>
  </div>
</div>
