<div class=" xl:grid gap-20">
  <div class="w-full my-20 px-10 xl:grid grid-cols-2 items-center gap-20">
    <img src="https://images.pexels.com/photos/30973664/pexels-photo-30973664/free-photo-of-gatito-pelirrojo-jugueton-en-una-cesta-de-mimbre.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="hidden xl:block px-20 rounded-full"/>
    <div class="flex flex-col w-full xl:gap-10">
      <h2 class="text-center font-bold text-5xl">Our Mission: Giving Every Pet a Loving Home</h2>
      <p class="text-center xl:px-20 text-xl">At <span class="font-bold text-principal">PetPal</span>, we are dedicated to making a difference in the lives of both animals and people. Our mission is simple: to connect loving families with pets in need of a forever home. We partner with local shelters and foster networks to ensure every animal has the opportunity to find a safe and caring environment. Whether you’re adopting your first pet or adding another member to your family, we are here to guide you through every step of the adoption process. Join us in giving a second chance to pets in need!</p>
    </div>
  </div>
  <div class="w-full my-20 px-10 xl:grid grid-cols-2 items-center gap-20">
    <div class="flex flex-col gap-10">
      <h2 class="text-center font-bold text-5xl">Who We Are: A Community of Compassionate Pet Lovers</h2>
      <p class="text-center px-20 text-xl">We are a passionate team of animal lovers who believe every pet deserves a loving home. At <span class="font-bold text-principal">PetPal</span>, we understand the deep bond that can form between pets and their families. We work tirelessly to match pets with responsible adopters, ensuring the best possible future for each animal. Our commitment goes beyond just adoption—we also offer resources, education, and ongoing support to help you provide a happy and healthy life for your new furry friend.</p>
    </div>
    <img src="https://images.pexels.com/photos/5706422/pexels-photo-5706422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="hidden xl:block px-20 rounded-full"/>
  </div>
  <div class="w-full my-20 px-10 xl:grid grid-cols-2 items-center gap-20">
    <img src="https://images.pexels.com/photos/6568500/pexels-photo-6568500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="hidden xl:block px-20 rounded-full"/>
    <div class="flex flex-col gap-10">
      <h2 class="text-center font-bold text-5xl">Our Values: Love, Care, and Responsibility</h2>
      <p class="text-center px-20 text-xl">At <span class="font-bold text-principal">PetPal</span>, we uphold the values of compassion, responsibility, and community. Our primary goal is to help animals find their forever homes, where they can live happy and fulfilled lives. We believe in transparency and integrity throughout the adoption process, ensuring that both pets and adopters are prepared for their new journey together. Our dedicated team is here to answer your questions, offer support, and make the adoption process as smooth as possible. Let us help you bring joy into your home with a new furry friend!</p>
    </div>
  </div>

</div>
