<div class="w-full bg-dark-50 p-20 bg-blackPrincipal mt-20">
  <div class="grid grid-cols-4 text-center text-black">
    <div>
      <img src="../../../assets/logo.png"/>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="font-bold mb-4 text-yellow">CONTACT US</h3>
      <p>1243 Bumble Bee Road</p>
      <p>Canadá</p>
      <p>Phone: 301-222-7729</p>
      <p>Fax: 301-432-3213</p>
      <p>Registered 501(c)(3).EIN: 82-0584607</p>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="font-bold mb-4 text-principal">QUICK LINKS</h3>
      <p class>Home</p>
      <p>PETPAL News</p>
      <p>Event</p>
      <p>Careers</p>
      <p>Privacy Policy</p>
      <p>Contact</p>
      <p>Fiends of PETPAL</p>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="font-bold mb-4 text-yellow">FOLLOW</h3>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
      <p>YouTube</p>
    </div>
  </div>
</div>
