<div>
  <div class="text-center mt-10 xl:grid grid-cols-3">
    <div class="hidden xl:block"></div>
    <div class="px-0 xl:px-20">
      <h3 class="font-bold text-2xl xl:text-5xl mb-10">Who is PetPal for Animales?</h3>
      <p class="text-justify px-10 xl:text-justify text-xl"><span class="font-bold text-principal">PetPal</span> for Animals is a unique animal facility, nestled on 6.5 acres in the mountains of Western Maryland, near the vacation destinations of Deep Creek Lake and WISP Resort. We are a non-profit 501(c)(3) organization dedicated to saving the lives of companion animals through rescue and adoption. Our operating model includes a full-service veterinarian practice, a pet hotel, and pet-grooming services, all within the center.</p>
    </div>
    <div class="hidden xl:block"></div>
  </div>
  <div class="flex flex-col items-center lg:flex-row gap-20 justify-center py-20">
    <button class="w-80 h-28 bg-principal text-white font-bold text-5xl">ADOPT.</button>
    <button class="w-80 h-28 bg-yellow text-white font-bold text-5xl">DONATE.</button>
    <button  class="w-80 h-28 bg-red text-white font-bold text-5xl">VOLUNTEER.</button>
  </div>
  <div class="grid xl:grid-cols-2">
    <div class="">
      <img src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" loading="lazy" class="w-full h-auto object-cover"/>
    </div>
    <div class=" bg-principal text-white flex flex-col justify-center gap-10 px-20">
      <p class="uppercase font-bold text-3xl">Did you know?</p>
      <p class="font-bold text-5xl">Petpal for Animals has rescued over 14,000 animals since our beginning in 2005</p>
      <div class="justify-start">
        <button class="border border-yellow p-6 hover:bg-yellow">How to Adopt</button>
      </div>
    </div>
  </div>
  <div class="place-content-center py-40 text-center">
    <div>
      <h3 class="font-bold text-64 ">Meet Your <span class="text-principal font-bold">New Best Friend</span></h3>
      <h3 class="font-bold text-64 ">Adopt Today!</h3>
      <p class="font-light text-2xl py-10">Love knows no species. Show kindness to all living beings.</p>
    </div>
  </div>
  <div class="grid xl:grid-cols-2">
    <div class=" bg-blue text-white flex flex-col justify-center gap-10 px-20">
      <p class="uppercase font-bold text-3xl">Did you know?</p>
      <p class="font-bold text-5xl">Petpal uses 84% of all revenue to pay for our mission programs.</p>
      <div class="justify-start">
        <button class="border border-principal p-6 hover:bg-principal">How to Adopt</button>
      </div>
    </div>
    <div>
      <img src="https://images.pexels.com/photos/225406/pexels-photo-225406.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" loading="lazy" class="w-full h-auto object-cover"/>
    </div>
  </div>
  <div class="xl:mx-80 mt-20">
    <h3 class="text-center font-medium text-xl mb-10 lg:text-start px-20">SERVICES WITH A MISSION</h3>
    <p class="text-start px-20 sm:text-justify text-4xl font-bold">Our mission is to improve the condition of animals in Western Maryland by rescuing and sheltering adoptable animals.</p>
  </div>
</div>
